/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  overflow-x: hidden;
}

/* BACKGROUND UTAMA */
body {
  min-height: 100vh;
  background: linear-gradient(135deg, #4e73df, #1cc88a);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* CONTAINER UTAMA */
.container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
}

/* LOGO */
.logo-container {
  margin-bottom: 20px;
}

.logo-container img {
  width: 100%;
  max-width: 500px; /* Laptop */
  height: auto;
  object-fit: contain;
}

/* JUDUL */
h1 {
  color: white;
  margin-bottom: 20px;
  font-size: 28px;
}

/* INPUT */
input, select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
}

/* BUTTON */
button {
  background-color: #f6c23e;
  color: black;
  padding: 10px 25px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 20px;
  transition: 0.3s;
}

button:hover {
  background-color: #dda20a;
}

/* DAFTAR HADIR */
h2 {
  color: black;
  margin-top: 10px;
}

/* ========================= */
/* RESPONSIVE HP */
/* ========================= */

@media (max-width: 768px) {

  body {
    padding: 20px;
  }

  .logo-container img {
    max-width: 300px; /* Diperkecil di HP */
  }

  h1 {
    font-size: 22px;
  }

  input, select {
    font-size: 13px;
  }

  button {
    padding: 8px 20px;
  }
}
